@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: auto!important;
    overflow-x: hidden!important;
    font-family: 'Nunito', sans-serif;
}

.circle-base {
    border-radius: 50%;
    border: 5px solid #fff;

    text-align: center;
    font: 28px Arial, sans-serif;
    color: #fff;

    top: -10px;
    left: -10px;
}

@media (max-width:639px) { 
    .circle {
        @apply circle-base;
        width: 60px;
        height: 60px;
        padding: 9px;
    }
}

@media (min-width:640px) { 
    .circle {
        @apply circle-base;
        width: 80px;
        height: 80px;
        padding: 19px;
    }
}

.circle-yellow {
    @apply circle;
    background: #f3dc44;
    outline: 5px solid #f3dc44;
}

.circle-orange {
    @apply circle;
    background: #ff8732;
    outline: 5px solid #ff8732;
}

.circle-turq {
    @apply circle;
    background: #2dc3dd;
    outline: 5px solid #2dc3dd;
}

.circle-green {
    @apply circle;
    background: #94e681;
    outline: 5px solid #94e681;
}

.number-widget-cols {
    grid-template-columns: 5fr 5fr 18fr;
}
