@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: auto!important;
    overflow-x: hidden!important;
    font-family: 'Montserrat', sans-serif;
    color: theme('colors.basha-text');
}

.logo {
    font-family: 'Khand';
}

.circle-base {
    border-radius: 50%;
    border: 5px solid #fff;

    text-align: center;
    font: 28px Arial, sans-serif;
    color: #fff;

    top: -10px;
    left: -10px;
}

@media (max-width:639px) { 
    .circle {
        @apply circle-base;
        width: 60px;
        height: 60px;
        padding: 9px;
    }
}

@media (min-width:640px) { 
    .circle {
        @apply circle-base;
        width: 80px;
        height: 80px;
        padding: 19px;
    }
}

.circle-yellow {
    @apply circle;
    background: theme('colors.basha-yellow');
    --tw-ring-color: theme('colors.basha-yellow');
}

.circle-orange {
    @apply circle;
    background: theme('colors.basha-bold-orange');
    --tw-ring-color: theme('colors.basha-bold-orange');
}

.circle-turq {
    @apply circle;
    background: theme('colors.basha-turq');
    --tw-ring-color: theme('colors.basha-turq');
}

.circle-green {
    @apply circle;
    background: theme('colors.basha-green');
    --tw-ring-color: theme('colors.basha-green');
}

.number-widget-cols {
    grid-template-columns: 5fr 5fr 18fr;
}

.header-border {
    border-style: dashed none;
    border-width: 5px;
}

.link-border {
    border-style: solid;
    border-width: 4px;
    border-color: theme('colors.basha-yellow-link');
    color: theme('colors.basha-yellow-link');
}
