@tailwind base;
@tailwind components;
@tailwind utilities;

.margin-overlay {
    margin-left: -100%;
    z-index: -1;
}

.grid-auto-6 {
    grid-template-rows: auto auto auto auto auto auto;
}

.grid-auto-11 {
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}

.grid-auto-3 {
    grid-template-rows: auto auto auto;
}

.grid-auto-col-2 {
    grid-template-columns: auto auto;
}
