---
title: Welcome to Middleman
---

body.bg-gradient-to-r.from-basha-yellow.to-basha-turq
	div.grid.grid-cols-6.bg-white.bg-opacity-85
		div.p-2.5
			img.inline.align-middle src="images/logo.svg" alt="logo"
			p.inline.font-extrabold.text-basha-bold-orange.text-lg.align-middle
				| Basha
		= link_to("The Mission","https://middlemanapp.com/basics/templating_language/",target: "_blank",class: "align-middle text-basha-orange pt-4 font-bold hover:underline")
		= link_to("The Methodology","https://middlemanapp.com/basics/templating_language/",target: "_blank",class: "align-middle text-basha-orange pt-4 font-bold hover:underline")
		= link_to("Installation Guide","https://middlemanapp.com/basics/templating_language/",target: "_blank",class: "align-middle text-basha-orange pt-4 font-bold hover:underline")
		= link_to("Community Decks","https://middlemanapp.com/basics/templating_language/",target: "_blank",class: "align-middle text-basha-orange pt-4 font-bold hover:underline")
	div.flex
		div.w-full.grid.grid-cols-2
			div
				h1.text-5xl.m-0.py-14.pl-14
					|  Consider us the P2P of
					br
					| language learning.
				div.ml-4.mr-10
					ul.flex-col.justify-around
						li.flex.mb-6
							img.inline.scale-75 src="images/orange_diamond.svg"
							span.inline
								| We are a free service that gives you the tools to learn less common languages that often lack adequate resources. Our goal is to help children of immigrants to reconnect with their mother tongues. Read Our Mission.
						li.flex.mb-6
							img.inline.scale-75 src="images/yellow_diamond.svg"
							span.inline
								| Our methodology and tools center around Spaced Repetition Learning (SRS) - recognized by most polyglots as the ideal way to begin a language-learning journey (think flashcards). Learn the Science. 
						li.flex
							img.inline.scale-75 src="images/green_diamond.svg"
							span.inline
								| You provide the translator and the will to learn, and we offer a comprehensive Anki deck of translatable phrases and a platform for your translator to record and hand off their audio.
      		img.mt-10.scale-90 src="images/splash.png" alt="splash"
		div.max-w-5xl.bg-white.shadow-lg.rounded-lg.pb-80.rounded-tr-full.bg-opacity-50.w-full.margin-overlay
  	div.grid.grid-cols-4
    	div.max-w-sm.bg-white.shadow-lg.rounded-lg.m-12.border-basha-bold-orange.border-4
      		| null
    	div
      		| null
    	div
      		| null
    	div
      		| null
