---
title: Mission
---

body
	= partial 'navbar'
    .bg-basha-bold-orange.my-0.text-white.md:grid.md:grid-cols-2.md:auto-rows-auto.py-10.px-5
        .rc-1-1-1-1.border.border-white.header-border.p-5.m-10
            div.text-5xl.font-bold
                p Our
                p Story
        img.rc-2-1-2-1.lg:rc-1-2-2-1.m-auto src="images/in-il.png"
        .rc-2-1-1-1.max-w-3xl.m-10
            h2.text-3xl.mb-5.italic From one child of immigrants to another
            p The creator of Basha knows firsthand how the American school system's insistence of speaking only English in the home has led to many second-generation immigrants losing the ability to speak their family's home language. Moreover, a dearth of resources for less common languages makes it even harder to recover their home language.
        img.rc-3-1-1-1.m-auto src="images/pointing_man.png"
        .rc-3-1-2-1.max-w-3xl.m-10
            h2.text-3xl.mb-5.italic We can change the script
            p.mb-4 As with many things, we believe that the best solutions can be found in our own families. Basha combines leading language-learning methodology with the tools to recruit and engage your family (or friends, neighbors, fellow internet-dwellers) as your teacher. When we reconnect with our cultures through language, we better understand ourselves and others.
            .flex.flex-row.justify-around.font-bold
                a.border.p-4.m-4.font-bold.link-border href="/methodology.html" Learn the Method →
                a.border.p-4.m-4.font-bold.link-border href="/guide.html" Install Basha →
    .bg-gradient-to-tr.from-basha-yellow.to-basha-turq.my-0
        .p-1
        .md:grid.grid-cols-2
            div.md:rc-1-1-2-1.border.border-white.header-border.p-5.m-10
                div.text-5xl.text-white.font-bold.text-right
                    p Our
                    p Team
        .flex.justify-around.md:my-10
            img.hidden.md:inline-block.h-52.my-auto.mx-5 src="images/ajay.png"
            div.bg-white.my-auto.p-5.max-w-4xl.md:mx-5.md:rounded-xl
                div.flex.flex-row
                    img.h-24.md:hidden.mr-5 src="images/ajay.png"
                    h2.inline.text-basha-green.text-3xl.my-auto Ajay - Founder and Lead Developer
                p.my-4 Ajay was inspired to create Basha when he noticed how few tools exist for learning languages outside of the 'Big Six'. As a 2nd-generation American, he hopes to help other immigrants reconnect with their heritage through language. Based in Chicago, he has over nine years of experience in software engineering.
                p
                    span.font-bold My Languages:
                    span  English, Marathi, and Spanish
                p
                    span.font-bold Next Languages:
                    span  Hindi or French
        .flex.justify-around.md:my-10
            div.bg-white.my-auto.p-5.max-w-4xl.md:mx-5.md:rounded-xl
                div.flex.flex-row
                    h2.inline.text-basha-turq.text-3xl.my-auto Liz - UX Lead and Content Strategist
                    img.h-24.md:hidden.ml-5 src="images/liz.png"
                p.my-4 Liz is also based in Chicago and has a five-year career in user experience design and technical writing. Her background in ESL education motivates her to design equitable solutions for a global audience.
                p
                    span.font-bold My Languages:
                    span  English, Old English, and Spanish
                p
                    span.font-bold Next Languages:
                    span  Hebrew, Ancient Sumerian, or Russian
            img.hidden.md:inline-block.h-52.my-auto.mx-5 src="images/liz.png"
        .p-1.hidden.md:block
    .bg-white.mb-10.md:mb-20
        h2.font-bold.text-4xl.mx-5.my-5.md:m-10 Talk to Us
        p.mx-5.md:mx-10.mb-5.max-w-4xl We're early in our development and are eager to hear back from the community. You can email us with support questions, usability feedback, or new ideas. We'll try get back you within the week. Thanks again, and happy learning! 
        i.ml-5.md:ml-10.mr-2.fa.fa-envelope.text-basha-bold-orange
        a.font-bold.text-basha-bold-orange.hover:underline href="mailto:contact@bashalang.org" contact@bashalang.org
	= partial 'footer'
