---
title: Resources
---

body
    = partial 'navbar'
    .bg-gradient-to-tr.from-basha-yellow.to-basha-turq.py-5
        .flex.justify-center
            .border.border-white.header-border.p-5.m-10.md:m-16.w-full.max-w-6xl
                div.text-3xl.lg:text-5xl.text-white
                    p Resources
        div.flex.justify-center
            div#sentence_lists.bg-white.my-auto.p-5.md:mx-16.md:rounded-xl.max-w-6xl
                h2.inline.text-basha-green.text-3xl.my-auto Sentence Lists
                div.my-6.max-w-5xl
                    span With Basha, you can open a text editor and create any list of phrases you want translated! 
                    span While that flexibility is amazing, it can also be quite daunting building out lists on your own. 
                    p.my-4 With that in mind, we've assembled a collection of sentence lists that you can upload directly to Basha. These should work with any language.
                    div
                        span These sentences comprise the curriculum used by 
                        a.text-basha-turq.hover:underline target="_blank" href="https://speechling.com/" Speechling
                        span = " (a fantastic free SRS product), and contain enough varied sentences for you to become fluent."
                .grid.grid-cols-2
                    div.border.m-2.p-2.rounded-xl
                        h3.text-xl.mb-4.font-medium Phrases & Sentences
                        .grid.grid-cols-1.lg:grid-cols-3
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/beginner_1.txt" Beginner 1
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/beginner_2.txt" Beginner 2
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/beginner_3.txt" Beginner 3
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/intermediate_1.txt" Intermediate 1
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/intermediate_2.txt" Intermediate 2
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/intermediate_3.txt" Intermediate 3
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/advanced_1.txt" Advanced 1
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/advanced_2.txt" Advanced 2
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/advanced_3.txt" Advanced 3
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/expert_1.txt" Expert 1
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/expert_2.txt" Expert 2
                    div.border.m-2.p-2.rounded-xl
                        h3.text-xl.mb-4.font-medium Useful Vocabulary
                        .grid.grid-cols-1.lg:grid-cols-3
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/nouns.txt" Nouns
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/verbs.txt" Verbs
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/adjectives.txt" Adjectives
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/numerals.txt" Numerals
                            a.mb-2.text-basha-turq.font-medium.hover:underline download=true href="/speechling/calendar.txt" Calendar
        div.flex.justify-center
            div#community_decks.bg-white.my-auto.p-5.md:mx-16.md:rounded-xl.md:mt-10.md:mb-7.max-w-6xl
                h2.inline.text-basha-green.text-3xl.my-auto Community Decks
                div.my-6.max-w-5xl
                    span Basha is entirely community-driven; that's why we describe ourselves as P2P! 
                    span Learning a new language is no fun if you don't have anyone to speak it with. 
                    span That is why we encourage users to contribute their decks with us so they can give back to the community and earn some much-deserved recognition here.
                .mb-4
                    span.italic  Be sure to add the tag "basha" when you share so others can find your decks.
                .mb-4
                    a.font-medium.text-basha-turq.hover:underline href="https://docs.ankiweb.net/contrib.html#sharing-decks-publicly" → How to Share Your Ankideck
                a.font-medium.text-basha-turq.hover:underline href="https://ankiweb.net/shared/decks/basha" → Explore Public Basha Decks
    = partial 'footer'
